/**
 * stylese.css
 * @version 1.0.10
 * @summary 22-06-2019
 * @author Mads Stoumann
 * @description Styles for Article component
*/

:root {
	--primary-c: hsl(209, 61%, 16%); /* #102a42 */
	--secondary-c: hsl(212, 33%, 95%); /* #EEF2F6 */
	--tertiary-c: hsl(209, 10%, 35%); /* #505A62 */
	--active-c: hsl(40, 61%, 60%); /* #D7AE5B */
	--light-grey-c: hsl(209, 10%, 90%); /* #E3E6E8 */
}

body, html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;;
	font-family: 'Noto Serif', serif;
	font-size: 112.5%;
	-webkit-font-smoothing: antialiased;
	line-height: 1.8;
	margin: 0 auto;
	max-width: 1920px;
}
img { max-width: 100%;}
main {
	flex: 1;
}

/*
========
ARTICLE
========
*/
.c-article {
	width: 100%;
}
.c-article__headline { 
	border-bottom: 6px solid var(--primary-c);
	color: var(--primary-c);
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.3;
	text-transform: uppercase;
}
.c-article__headline-text {
	background-color: var(--active-c);
	display: inline-block;
	padding: .75rem 1.5rem .75rem 1rem;
	position: relative;
}
.c-article__headline--right {
	clear: both;
	margin: 0;
	padding-top: 2rem;
	text-align: right;
 }
.c-article__text {
	font-size: 87.5%;
	padding: 0 1rem;
}

/*
=======
BANNER
=======
*/
.c-banner {
	margin: 0;
	/* overflow: hidden; */
	padding: 0;
	position: relative;
}
.c-banner::after {
	content: '';
	display: block;
	padding-bottom: 30%;
}
.c-banner__img {
	height: 100%;
	left: 0;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

/*
=======
FOOTER
=======
*/
.c-footer {
	align-items: center;
	background-color: var(--tertiary-c);
	color: #FFF;
	font-family: 'Oswald', sans-serif;
	font-size: 75%;
	margin-top: 3rem;
	padding: .5rem 1rem;
	text-align: center;
}
.c-footer a { color: inherit; text-decoration: none; }
.c-footer__bullet::after { content: " ▪"; }

/*
====================
HEADER / NAVIGATION
====================
*/
.c-header {
	align-items: center;
	background-color: var(--primary-c);
	color: #FFF;
	display: flex;
	font-family: 'Oswald', sans-serif;
	font-size: 75%;
	justify-content: space-between;
	min-height: 2.5rem;
	padding: 0.5rem 0.5rem;
}
.c-logo {
	display: block;
}
.c-logo img {
	height: 2rem;
	width: 2rem;
}
.c-logo__text {
	color: var(--secondary-c);
	display: none;
	margin-left: .5rem;
	padding-top: 11px;
	position: relative;
	white-space: nowrap;
}
.c-nav__item {
	color: var(--secondary-c);
	padding: 0 0.3rem;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: color .15s ease-in;
}
.c-logo__text:hover,
.c-nav__item:hover {
	color: var(--active-c);
}
.c-nav__item--active {
	color: var(--active-c);
}
.c-nav__item--active::after,
.c-nav__item::after {
	content: "";
	height: 1px;
	left: 50%;
	opacity: 0;
	position: absolute;
	top: calc(100% + .25rem);
	transform: translateX(-50%);
	transform-origin: 50% 50%;
	transition: opacity 0.3s ease-in;
	width: 3rem;
}
.c-nav__item--active::after,
.c-nav__item:hover::after {
	background-color: var(--active-c);
	opacity: 1;
}

/*
==============
HEXAGON BLOCK
==============
*/
.c-hexagon {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2.5vw;
	position: relative;
}
.c-hexagon::before {
	background: var(--light-grey-c);
	content: "";
	height: 50%;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}
.c-hexagon__item,
.c-spot__img-wrapper {
	margin: 0 0 0 2.5%;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 35%;
}
.c-hexagon__item::after,
.c-spot__img-wrapper::after {
	content: '';
	display: block;
	padding-bottom: 110%;
}
.c-hexagon__img,
.c-spot__img {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	height: 100%;
	left: 0;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}
.c-hexagon__item:first-of-type { margin-left: 21.25vw; top: 7.25vw; } 
.c-hexagon__item:nth-of-type(2) { top: 7.25vw; }

/*
=====
SPOT
=====
*/
.c-spot-wrapper {
	display: flex;
	flex-direction: column;
}
.c-spot__img-wrapper {
	margin: 0 auto;
	width: 75%;
}
.c-spot__item {
	background: var(--secondary-c);
	border-bottom: 6px solid var(--primary-c);
	flex: 1;
	margin: 1rem;
	padding: 1rem;
}

/*
================
Section / Misc.
================
*/
.c-img--mono {
	filter: grayscale(1);
	height: 2rem;
	padding: 0.5rem 0;
	transform: rotate(25deg);
	width: 2rem;
}
.c-img--byggaranti {
	padding: 0.75rem 0;
	width: 8rem;
}

/*
======
QUOTE
======
*/
.c-quote {
	background-color: var(--secondary-c);
	border-left: 6px solid var(--primary-c);
	float: right;
	margin: 3rem 0 0 0;
	max-width: max-content;
	padding: 1rem;
}
.c-quote__text:before {
	color: inherit;
	content: "\201C";
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.1em;
	vertical-align: -0.4em;
}

/*
====
RWD
====
*/
@media screen and (min-width: 1024px) {
	.c-section .c-article {
		margin: 0;
	}
	.c-article__headline { 
		font-size: 4rem;
	}
	.c-article__headline-text {
		padding: .75rem 1.5rem;
	}
	.c-article__text {
		font-size: 1rem;
		padding: 0 2rem;
	}
	.c-footer {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		min-height: 5rem;
	}
	.c-img--mono {
		height: 4rem;
		width: 4rem;
	}
	.c-logo {
		display: flex;
	}
	.c-logo img {
		height: 5rem;
		width: 5rem;
		transition: transform .3s ease-in-out;
	}
	.c-logo:hover img {
		transform: rotate(35deg);
	}
	.c-logo__text {
		display: inline-block;
		font-size: 125%;
		line-height: 2;
		padding: 1.25rem 0 0 0.5rem;
	}
	.c-header {
		font-size: 100%;
		justify-content: space-between;
		min-height: 5rem;
		padding: 0.5rem 1rem;
	}
	.c-nav__item {
		padding: 0 1rem;
	}
	.c-spot__item {
		flex: 0 0 calc(33% - 3rem);
		margin: 0;
	}
	.c-spot-wrapper {
		flex-direction: row;
		justify-content: space-between;
		padding: 2rem;
	}
	
}
@media screen and (min-width: 1920px) {
	.c-hexagon__item:first-of-type {
		margin-left: 21.25%;
		top: 135px;
	}
	.c-hexagon__item:nth-of-type(2) {
		top: 135px;
	}
}